<script>
    // Function to show collapsed lists
    function showList(listName) {
      var coll = document.getElementById(listName);
      var coll_btn = document.getElementById(listName + "_btn");
      if (coll.style.display === "block") {
        coll.style.display = "none";
        coll_btn.src="../images/arrow_right.png";
      } else {
        coll.style.display = "block";
        coll_btn.src="../images/arrow_down.png";
      }
    }
</script>


!!MATOMO!!

!!2025_RUNS_LIST!!

!!2024_RUNS_LIST!!

!!2023_RUNS_LIST!!

!!2022_RUNS_LIST!!

!!LS2_RUNS_LIST!!

!!2018_RUNS_LIST!!

!!2017_RUNS_LIST!!

!!2016_RUNS_LIST!!

!!2015_RUNS_LIST!!

<!-- Directory to be shown -->
<script>showList('2025_list');</script>
<script>showList('2024_list');</script>

<h2>User's Cost Monitoring Data</h2>
!!USER_COST_DATA!!


!!LEGACY_RUNS_LIST!!