<h2>
    <button type='button' class='directoryListHeader' onclick='showList("!!LIST_NAME!!")'>
        <img  id='!!LIST_NAME!!_btn' src='../images/arrow_right.png'>
        !!LIST_TITLE!!
    </button>
</h2>

!!COMMENT!!

<ul id='!!LIST_NAME!!' class='directoryList'>
    !!DIRECTORY_LIST!!
</ul>