<p>Hello <strong>!!USER!!</strong>, each CERN user may set up a link to their own personal folder on <strong>/cvmfs</strong> or <strong>/eos</strong> 
    which contains cost monitoring output files. By enterling a publicly readable location below (for EOS you have to share folder with user 'a:atlastrigcost' in CERNBox with edit rights), you will setup a soft link from this site to your folder - 
    this will allow you <strong>and others</strong> to use this site's tools to browse the data you have processed. 
    This directory should contain sub-directories in the <strong>"costMonitoring_%t_%r"</strong> format where <strong>%t</strong> is 
    a processing tag and <strong>%r</strong> is a run number.
</p>
<p>
    <form action="." method="get">
    <input type="text" name="addLink" placeholder="!!BOX_TEXT!!" class="largerInput" /><input type="submit" class="hideRunBtn" value="Link In My Data" />
    </form>
</p>