<p>Hello <strong>!!USER!!</strong>, each CERN user may set up a link to their own personal folder on <strong>/cvmfs</strong> or <strong>/eos</strong>  (<strong>/afs is deprecated!</strong>)
    which contains cost monitoring output files. Your directory soft link, <em>!!USERNAME!!</em>, is setup and currently points to <strong>!!USER_SYMLINK!!</strong>. 
    If you would like to change this, you will first need to remove the current link.
</p>
<p>
    <form action="." method="get">
    <input type="hidden" name="rmLink" value="REMOVE" class="largerInput" /><input type="submit"  class="hideRunBtn" value="Remove My Data Link" />
    </form>
</p>   



<ul><li><a href='!!USER_LINK!!'>!!USERNAME!!</a>
<div class='subtitle'>Number of Runs: !!N_RUNS_USER!!</div>
</li></ul>