<!--Form to be displayed on single summery page, to create a comparison between two rates summaries or scale luminosity-->
<!--TODO: use grid layout here-->

<p><b>!!FORM_HEADER!!</b></p>
<p><b>!!CACHE!!</b></p>
<form action='?page=CompareRates' method='post'><input type='hidden' name='compA' value='!!SERVER_REQUEST_URI!!'/>
<table class='createComparisonForm'><tr>
    <td class='createComparisonFormInputLabel'>Rate Comparison: </td>
    <td><input type='text' size='50' name='compB' class='dropdown-display processingFormInput' placeholder='Paste the full URL of another Rates Summary page here' /> </td>
</tr><tr>
    <td class='createComparisonFormInputLabel'>Luminosity Point: </td>
    <td><input type='text' class='dropdown-display processingFormInput' name='lumi' value='!!LUMI!!'required/><label class='dropdown-display formSuffix'>cm<sup>-2</sup>s<sup>-1</sup></label> </td>
    <td><input class='formBtn' type='submit' value='Generate'/></td>
</tr></table>
</form>