<!--Form to be displayed on single summery page, to create a comparison between two cost summaries-->

<form action='?page=CompareCost' method='post'><input type='hidden' name='compA' value='!!SERVER_REQUEST_URI!!'/>
<table class='createComparisonForm'>
    <tr>
        <td>Cost Comparison:</td>
        <td><input required class='dropdown-display processingFormInput' type='text' name='compB' size='50' placeholder='Paste the full URL of another Cost !!SUMMARY_NAME!! Summary page here' /></td>
        <td><input class='formBtn' type='submit' value='Do Comparison'/></td>
    </tr>
</table>
</form>