<!--Form to be displayed on comparison of two cost summaries page, to update the compariso -->


<p><strong>
    Paste the URL of two Cost !!SUMMARY_NAME!! Summary pages from the atlas-trig-cost site to perform a comparison.
</strong></p>


<form action="?page=CompareCost" method="post">
<table class='createComparisonForm'><tr>
    <td class='createComparisonFormInputLabel'>Comparison URL A: </td>
    <td><input class='dropdown-display processingFormInput' type="text" name="compA" value="!!COMP_A!!" required/></td>
    <td></td>
</tr><tr>
    <td class='createComparisonFormInputLabel'>Comparison URL B: </td>
    <td><input class='dropdown-display processingFormInput' type="text" name="compB" value="!!COMP_B!!" required/></td>
    <td><input type="submit" class='formBtn' value="Do Comparison"/></td>
</tr></table>
</form>