<!--Form to be displayed on comparison of two rates summaries page, to update the comparison, switch between different rates-->


<p><strong>
    Paste the URL of two Rate Summary pages from the atlas-trig-cost site to perform a comparison.
</strong></p>

<form action="?page=CompareRates" method="post">
<table class='createComparisonForm'><tr>
    <td class='createComparisonFormInputLabel'>Comparison URL A: </td>
    <td><input required class='dropdown-display processingFormInput' type="text" name="compA" value="!!COMP_A!!" /></td>
</tr><tr>
    <td class='createComparisonFormInputLabel'>Comparison URL B: </td>
    <td><input  class='dropdown-display processingFormInput' type="text" name="compB" value="!!COMP_B!!" /></td>
</tr><tr>
    <td class='createComparisonFormInputLabel'>Luminosity Point: </td>
    <td><input required class='dropdown-display processingFormInput' type="text" name="lumi" value="!!LUMI!!" /><label class='dropdown-display formSuffix'>cm<sup>-2</sup>s<sup>-1</sup></label></td>
</tr></table>