
.flexigrid .mDiv div {
    background-color: rgb(237, 237, 237);
    border: 1px solid #ccc;
    border-width:1px 0px 1px 0px;
    font-size: 13px;
}

.flexigrid div.pDiv {
    background: none;
    background-color: rgb(237, 237, 237);
    border-bottom: 0;
}

.flexigrid div.pDiv .pDiv {
    background: none;
    background-color: rgb(237, 237, 237);
}

.flexigrid div.sDiv {
    background: none;
    border: 1px solid #ccc;
    background-color: rgb(237, 237, 237);
    border-bottom: 0;
}

.flexigrid div.hDiv{
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
    background: none;
    background-color: rgb(245, 245, 245);
}

.flexigrid .pGroup select{
    margin-top: 1px;
}


.flexigrid div.hDiv th.sorted{
    background: none;
    background-color: #e3e3e3;
    border: 1px solid #a5a5a5;
}

.flexigrid td, th {
    border: 1px solid #ccc;
}

.flexigrid div.hDiv th, .flexigrid div.bDiv td{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.flexigrid div.hDiv tr:first-child th, .flexigrid div.bDiv tr:first-child td{
    border-left: 0px solid #ccc;
}

.flexigrid div.bDiv tr:first-child td {
    border-top: 0;
}