body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px; }
/*
body > *:first-child {
  margin-top: 0 !important; }
*/
body > *:last-child {
  margin-bottom: 0 !important; }

a {
  color: #4183C4; }
a:link {
    text-decoration: none; }
a:visited {
    text-decoration: none; }
a:hover {
    text-decoration: underline; }    
a.absent {
  color: #cc0000; }
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; 
  word-wrap: break-word;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  background: url("../images/para.png") no-repeat 10px center;
  text-decoration: none; }

h1 tt, h1 code {
  font-size: inherit; }

h2 tt, h2 code {
  font-size: inherit; }

h3 tt, h3 code {
  font-size: inherit; }

h4 tt, h4 code {
  font-size: inherit; }

h5 tt, h5 code {
  font-size: inherit; }

h6 tt, h6 code {
  font-size: inherit; }

h1 {
  font-size: 28px;
  color: black;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  color: #777777;
  font-size: 14px; }

p, blockquote, ul, ol, dl, li, /*table,*/ pre {
  margin: 10px 0; }

hr {
  background: transparent url("../images/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
body > h1:first-child {
  margin-top: 20px;
  padding-top: 0; }
  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }

li p.first {
  display: inline-block; }

ul, ol {
  padding-left: 30px; }
  
ul li {
	background: url(../images/right_arrow.png) no-repeat left;
  background-size: 16px;
	list-style: none;
	padding: 0px 20px 0px 20px;
  vertical-align: middle;
}

ul :first-child, ol :first-child {
  margin-top: 0; }

ul :last-child, ol :last-child {
  margin-bottom: 0; }

dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

/*
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
*/

table {
  font-weight: bold;
  text-align: left;
  font-size: 10px;
	font: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}


img {
  max-width: 100%; }

span.frame {
  display: block;
  overflow: hidden; }
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  span.frame span img {
    display: block;
    float: left; }
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  span.align-center span img {
    margin: 0 auto;
    text-align: center; }
span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  span.align-right span img {
    margin: 0;
    text-align: right; }
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  span.float-left span {
    margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none; }
 
/* Interface stylesheet for Javascript ROOT Web Page. */

/*
* { padding: 0; margin: 0; }
* html, body { height: 100%; }

body, textarea {
   font-family: "lucida sans", verdana, arial, helvetica, sans-serif;
   font-size: 80%;
}

h1 { font-size: 20pt }
h2 { font-size: 18pt; font-weight:bold; color: navy }
h3 { font-size: 16pt; font-weight:bold; color: #483d8b }
h4 { font-size: 14pt; font-weight:bold; color:#C71585; margin-bottom:2px; margin-top:8px; }
h5 { font-size: 10pt; font-weight:bold; color:#6495ED; margin-bottom:2px; }
h6 { font-size: 10pt; font-weight:bold; color:navy }

body {
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}

textarea { font-size: 100%;}

p { margin-top: 6px; padding: 0 10px 1em; }

#main { left: 3px; right: 66%; overflow: auto; }

#status { font-size:70%; }
#report { height:auto; }

.ui-icon { width: 16px; height: 16px; background-image: url(../images/ui-icons_222222_256x240.png); }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }

.ui-accordion { 
   width: 100%; margin-right: 15px;
}
.ui-accordion-header {
   background-color: #c0c8ff;
   border: 1px solid #aaaaaa;
   color: #7a7a7a;
   cursor: pointer;
   margin-top: 2px;
   padding-left:3px;
   padding-top:3px;
   padding-bottom:3px;
   position: relative;
   text-align:center;
}
.ui-accordion-header-active { 
   border-bottom: 0;
}
.ui-accordion-icons .ui-accordion-header a { 
   padding-left: 2.2em; 
}
.ui-accordion .ui-accordion-header .ui-icon { 
   left: .5em; 
   margin-top: -8px; 
   position: absolute; 
   top: 50%; 
}
.ui-accordion .ui-accordion-content {
   border: 1px solid #aaaaaa;
   border-top: 0;
   margin-top: -2px; 
   margin-bottom: 2px;
   overflow:hidden;
   padding: 3px 0px 3px 0px;
}
.ui-state-active { 
   background: #ffffff;
   border-bottom: 0;
   color: #3a3a3a;
}
.ui-accordion-content-active {
   background-color: #ffffff;
}

button.closeButton {
   margin-top: -3px; 
   margin-right: 2px; 
   float: right;
}

*/

.clearBoth { clear: both; }

/* possibly not needed anymore */
div.column {
   display: inline-block;
   vertical-align:top;
   overflow: auto;
   width: 48%;
   border: 1px dotted #919191;
   background-color: #F0F0F0;
   padding: 8px 8px 0px 8px;
}

div.columnClear {
   display: inline-block;
   vertical-align:top;
   overflow: auto;
   width: 48%;
   padding: 8px 8px 0px 8px;
}

.gridRunRanges {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

div.col {
  padding: 8px 8px 0px 8px;
}

@media only screen and (max-width: 1200px) {
  .gridRunRanges {
    grid-template-areas: 
      "a b"
      "c b"
      "d b"
  }
  .ranges {
    grid-area: a;
  }
  .trigConf {
    grid-area: b;
  }
  .metadata {
    grid-area: c;
  }
}

.basic div {
   background-color: #eee;
}


#overlay {
   z-index:1000;
   position:absolute;
   border: 1px solid #7777ff;
   bottom:1px;
   left:3px;
   background:#ddddff;
   opacity:0.6;
   -moz-opacity:0.6;
}

/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landrö               |
|--------------------------------------------------*/
/*
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}
*/
/*--------------------------------------------------|
| tooltip style                                     |
|--------------------------------------------------*/

#tt {
   position:absolute;
   display:block;
}
#tttop {
   display:block;
   height:5px;
   margin-left:5px;
   overflow:hidden;
}
#ttcont {
   display:block;
   padding:2px 12px 3px 7px;
   margin-left:5px;
   font-size: 11px;
   background:#777;
   color:#fff;
}
#ttbot {
   display:block;
   height:5px;
   margin-left:5px;
   overflow:hidden;
}

 
/* Tim M bits */

.rarrow { 
  width: 16px;
  height: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
}

.breadcrumb{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.err {
  padding: 10px;
  width: 600px;
  margin: 2px;
  color:   #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  background-color: #ffe6e8;
  font: bold 13px Helvetica;
}  


.subtitle{
  font-weight:normal;
  color:#545454;
  font-size:12px;
  text-align:left;
  margin:0px;
  padding-left:3px;
}
.subtitle a{
  font-size:12px;
}

.processing{
  font-weight:bold;
  color:#FF0000;
}

.blueText{
  font-weight:bold;
  color:#0000FF;
}

.largerInput {
  width: 300px;
}

.codePara {
  font-size: inherit;
  font-family: "Lucida Console", Monaco, monospace;
}

.codeParaSmall {
  font-size: 8px;
  font-family: "Lucida Console", Monaco, monospace;
}


/* Display item tables http://www.csstablegenerator.com */
.resultDisplay {
	padding:0px;
	width:100%;
	border: 2px solid #a5a5a5;
  border-radius: 2px;
}

.resultDisplay td, .resultDisplay th{
	border:1px solid #a5a5a5;
  vertical-align:middle;
  padding: 5px 10px 5px 10px;
	text-align:left;
	font-family:Helvetica;
}

.resultDisplay th{
	border-width:0px 1px 2px 0px;
	font-size:16px;
	color: rgba(0, 0, 0, 0.87);
  font-weight:bold;
}

.resultDisplay th:last-child{
	border-width:0px 0px 2px 0px;
}

.resultDisplay td{
	border-width:0px 1px 1px 0px;
	font-size:14px;
	font-weight:normal;
	color:#3b3b3b;
  white-space:initial;
  word-wrap: break-word;
}

.resultDisplay td .flexWrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultDisplay td:last-child{
	border-width:0px 0px 1px 0px;
}

.resultDisplay tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.resultDisplay tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.resultDisplay td .subtitle{
	font-size:13px;
}

.resultDisplay tr:hover td{
  background-color:#e5e5e5;
}

.resultDisplay td a{
  color: inherit;
}

.resultDisplay td .runNumber{
  font-weight:bold;
  font-size: 16px;
  margin-right: 1em;
  color:#2a2a2a;
}

.resultDisplay table{
  width: 100%;
}

.resultDisplay.itemDetailsTable table{
  table-layout: fixed;
}

.resultDisplay.itemDetailsTable td{
	font-size:13px;
  min-width: 15em;
  color: #2a2a2a;
}

.resultDisplay.itemDetailsTable td:last-child{
  white-space:initial;
  word-wrap: break-word;
}

.resultDisplay.itemDetailsTable tr:nth-child(even) td{
	background-color: #e5e5e5;
}

.resultDisplay.itemDetailsTable tr:nth-child(even):hover td{
	background-color: #e5e5e5;
}

.resultDisplay.itemDetailsTable tr:nth-child(odd):hover td{
	background-color: inherit;
}

.resultDisplay.itemDetailsTable th{
	font-size:14px;
}

.resultDisplay.resultDisplayRestrictedWrapper .linkExternal{
  margin-left: 1em;
  padding-top: 3px;
  padding-bottom: 3px;
}

.resultDisplay .rowLinks{
  align-self: flex-end;
}

.resultDisplay .linkExternal{
  background-color: #4183C4;
  padding: 6px 10px 5px 10px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  border-radius: 15px;
  vertical-align: middle;
  margin-left: auto;
  text-align: center;
  display: inline-flex;
}

.resultDisplay td.rightText, .resultDisplay th.rightText {
	text-align:right;
	font-weight:bold;
}

.resultDisplay td.centerText, .resultDisplay th.centerText {
	text-align:center;
  word-break:break-all;
}

.resultDisplay td:nth-child(3) {
  width: 1%;
  white-space:nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

.resultDisplay td .btnRow{
  text-align: center;
}

/* End display item tables */

.resultDisplayRestrictedWrapper {
  border-bottom: 2px solid #a5a5a5;
}

.root_canvas {
  inset:inherit
}

.createComparisonForm {
  margin-top: 0.5em;
}

.createComparisonForm td {
  padding: 2px;
  padding-right: 1em;
}

.createComparisonFormInputLabel {
  text-align: left;
  vertical-align: middle;
}

.createComparisonForm input[name="compA"], input[name="compB"] {
  width: 30em;
}

.createComparisonForm input[name="lumi"] {
  width: 25.6em;
}

.directoryListHeader {
  background-color: transparent;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: inherit;
  overflow: hidden;
  font-weight: inherit;
  font-family: Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}


.directoryList {
  display: none;
  overflow: hidden;
}

.directoryListHeader img{
  padding-right: 10px;
  height: 24px;
  width: 24px;
}

.navbar {
  position: relative;
  margin-bottom: 18px;
	display: flex;
	flex-wrap:nowrap;
  justify-content: space-between;
  width: 100%;
}

.navbar .left-wrapper, .right-wrapper {
  display: flex;
  font-size: 20px;
}

.navbar .left-wrapper {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.navbar .right-wrapper {
  justify-content: flex-end;
  font-style: italic;
}

.left-wrapper, .right-wrapper div{
  position: relative;
  display: block; 
  width: auto;
}

.navbar .left-wrapper div{
  padding-right: 16px;
}

.navbar .right-wrapper div{
  padding-left: 16px;
}

.navbar .right-wrapper .roleHint {
  color: gray;
  display: none;
  width: 4em;
  font-size: 16px;
  position: relative;
  padding-top: 3px;
}

.navbar .right-wrapper:hover .roleHint {
  display: block;
  visibility: visible;
}

.inputForm {
  user-select: text;
  width: 80%;
  padding: 6px 20px 6px 12px;
}

.formBtn {
  background-color: white;
  border: 1px solid #ccc;
  color: inherit;
  padding: 6px 12px 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
  line-height: normal;
}

.formBtn:hover {
  background-color: #ccc;
  text-decoration: none;
}

.formPrefix{
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(128, 128, 128);
  border-right: 0;
  color: inherit;
  padding: 6px 7px 1px 7px;
  font-size: 14px;
  text-align: right;
  border-radius: 2px 0 0 2px;
  display: inline-block
}

.formSuffix{
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(128, 128, 128);
  border-left: 0;
  color: inherit;
  padding: 3px 7px 1px 7px;
  font-size: 14px;
  text-align: left;
  border-radius: 0 2px 2px 0;
  display: inline-block
}

.formTitle{
  color: inherit;
  padding: 6px 6px 2px 0px;
  font-size: 14px;
  text-align: left;
  display: inline-block
}


.processingFormInput {
  user-select: text;
  width: 240px;
  padding: 4px 8px 4px 8px;
  font-size: 14px;
}

.processingFormInputPrefix{
  width: 190px;
}

.metadataList {
  display: block;
  padding-left: 2em;
  text-indent: 0;
}

.metadataListItem {
  padding-left: 4em;
  text-indent: 0;
}

.metadataItem {
  font-weight:normal;
  color:#545454;
  font-size:12px;
  text-align:left;
  margin:0px;
  padding-left: 1.5em;
  text-indent:-1.5em;
}

.metadataItem a{
  font-size:12px;
}

.metadataItem > div {
  display: inline
}


.banner {
  background-color: #4183C4;
  color: white;
  text-align: center;
  width: 100%;
  padding: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.banner a {
  color: white;
}

.hideRunBtn {
  background-color: white;
  border: 1px solid #ccc;
  color: #3b3b3b;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  padding: 3px 5px 3px 5px;
  margin: 0 2px;
}

.btnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hideRunBtn:hover {
  background-color: #ccc;
  border: 1px solid rgb(123, 123, 123);
}

.showHiddenRunsBtn {
  margin: 20px 0 10px;
  position: relative; 
}

.runListHeaderFlexContainer{
  display: flex;
  justify-content: space-between 
}

.submitLink {
  color:   #660000;
  font: bold 13px Helvetica;
  font-style:italic;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 0;
}
.submitLink:focus {
  outline: none;
}

.csvTableHeaderFlexContainer{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

#linkGeneratorBtn {
  margin-top: -8px;
  margin-bottom: 8px;
}

.lumiblockDetails{
  color: #777777;
  display: inline;
}

.lumiblockDetailsEntry{
  width: 8em;
  display: inline-block;
}


.compareRatesGridWrapper {  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.4fr 1.8fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  margin-top: 4px;
  grid-template-areas:
    "compareGridDoComparisonBtn compareGridSwitchLeftBtn compareGridSwitchRightBtn ."
    "compareGridShareComparison compareGridShareComparison compareGridShareComparison compareGridShareComparison"
    "compareGridLumi compareGridLumi compareGridLumi compareGridFileRatesA"
    "compareGridCache compareGridCache compareGridCache compareGridFileRatesB";
}

.compareRatesGridWrapper p {
  margin: 4px;
}

.compareRatesGridWrapper .formBtn {
  width: 168px;
  margin: 4px;
}

.compareGridDoComparisonBtn { grid-area: compareGridDoComparisonBtn; }

.compareGridCache { grid-area: compareGridCache; }

.compareGridShareComparison { grid-area: compareGridShareComparison; }

.compareGridSwitchLeftBtn { grid-area: compareGridSwitchLeftBtn; }

.compareGridLumi { grid-area: compareGridLumi; }

.compareGridFileRatesA { 
  grid-area: compareGridFileRatesA; 
  text-align: right;
}

.compareGridFileRatesB { 
  grid-area: compareGridFileRatesB; 
  text-align: right;
}

.compareGridSwitchRightBtn { 
  grid-area: compareGridSwitchRightBtn; 
}

.detailsGridContainer {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "detailsGridPageTitle detailsGridPageTitle"
    "detailsGridTable detailsGridMappingTable"
    "detailsGridTriggerConfiguration detailsGridTriggerConfiguration"
    "detailsGridGroupRatesGraph detailsGridGroupRatesGraph"
    "detailsGridHistograms detailsGridHistograms";
}

@media only screen and (max-width: 1200px) {
  .detailsGridContainer {
    grid-template-areas: 
    "detailsGridPageTitle detailsGridPageTitle"
    "detailsGridTable detailsGridTable"
    "detailsGridMappingTable detailsGridMappingTable"
    "detailsGridTriggerConfiguration detailsGridTriggerConfiguration"
    "detailsGridGroupRatesGraph detailsGridGroupRatesGraph"
    "detailsGridHistograms detailsGridHistograms";
    row-gap: 12px;
  }
}

.detailsGridPageTitle { grid-area: detailsGridPageTitle; }

.detailsGridTable { 
  grid-area: detailsGridTable; 
  padding-left: 36px;
  padding-right: 36px;
}

.detailsGridMappingTable { 
  grid-area: detailsGridMappingTable; 
  margin-left: 36px;
  margin-right: 36px;
  display: block;
  overflow-y:scroll;
}

.detailsGridTriggerConfiguration { 
  grid-area: detailsGridTriggerConfiguration; 
}

.detailsGridGroupRatesGraph { grid-area: detailsGridGroupRatesGraph; }

.detailsGridHistograms { 
  grid-area: detailsGridHistograms; 
  align-items: center;
}


.histogramsFlexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px dotted #919191;
  background-color: #F0F0F0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.histogramsFlexContainer .histogram {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 8px;
  height: 400px;
  width: 49%;
  background-color: white;
}

@media only screen and (max-width: 800px) {
  .histogramsFlexContainer .histogram {
    width: 100%;
  }
}

@media only screen and (min-width: 2400px) {
  .histogramsFlexContainer .histogram {
    width: 32%;
  }
}