
<div class ="gridRunRanges">
    <div class="ranges col">
        !!RUN_RANGES!!
    </div>
    <div class="trigConf col">
        !!TRIGGER_CONFIGURATION!!
    </div>
    <div class="metadata col">
        !!METADATA!!
        !!HISTOGRAMS!!
    </div>
</div>