
<li>
    SMK !!SMK!! L1 !!L1!! HLT !!HLT!!
    <div class='subtitle'>Lumi Blocks: !!LB_START!! - !!LB_END!!</div>
    <div class='subtitle'>Lookup in 
        <a href='https://atlas-triggertool.web.cern.ch/db/!!DB_ALIAS!!/comb/smk/!!SMK!!/l1psk/!!L1!!/hltpsk/!!HLT!!' class='linkExternal'>TriggerToolWeb</a>
    </div>
</li>

