
<li>
    <a href='!!CONFIG_LINK!!'>!!CONFIG!!</a>
    <div class='subtitle'>Lumi Blocks: !!LUMIBLOCKS!!</div>
    <a href='https://atlas-trigconf.cern.ch/run/smkey/!!SMK!!/l1key/!!L1!!/hltkey/!!HLT!!/' class='linkExternal'>ATLAS TrigConf</a>
</li>

