<!--Template for item display page-->

<div class="detailsGridContainer">
    <div class="detailsGridPageTitle">
        <h3>!!SUMMARY_NAME!! !!ITEM_NAME!! Details:</h3>
    </div>
    <div class="detailsGridTable">
        !!ITEM_DETAIL_TABLE!!
    </div>
    <div class="detailsGridMappingTable resultDisplayRestrictedWrapper" id='itemDetailsMappingTable'>
        !!CONFIG_MAPPING_TABLE!!
    </div>
    <div class="detailsGridGroupRatesGraph">
        !!GROUP_RATES_GRAPH!!
    </div>
    <div class="detailsGridTriggerConfiguration">
        !!ITEM_TRIGGER_CONFIGURATION!!
    </div>
    <div class="detailsGridHistograms">
        <h3>!!ITEM_NAME!! Histograms:</h3>
        !!ITEM_HISTOGRAMS!!
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        const detailsTable = document.getElementById('itemDetailsTable');
        var mappingTable = document.getElementById('itemDetailsMappingTable');
        if (mappingTable.clientHeight < detailsTable.clientHeight) {
            mappingTable.style.border = "none";
        }
        if (mappingTable && detailsTable){
            mappingTable.style.height = `${detailsTable.clientHeight}px`;
        }
    });

    document.addEventListener("resize", function(){
        const detailsTable = document.getElementById('itemDetailsTable');
        var mappingTable = document.getElementById('itemDetailsMappingTable');
        if (mappingTable.clientHeight < detailsTable.clientHeight) {
            mappingTable.style.border = "none";
        }
        if (mappingTable && detailsTable){
            mappingTable.style.height = `${detailsTable.clientHeight}px`;
        }
    });

</script>