</td><td class="btnRow">
    
<div class="btnWrap">
    <form action="?page=EditMetadata" method="post">
        <input type='hidden' name='action' value='editMetadata'>
        <input type='hidden' name='dir' value='!!DIR!!'>
        <input type='hidden' name='tag' value='!!TAG!!'>
        <input type='hidden' name='type' value='!!TYPE!!'>
        <input type='hidden' name='run' value='!!RUN!!'>
        <input class='hideRunBtn' type='submit' value='Edit'/>
    </form>

    <form action="?dir=!!DIR!!" method="post">
        <input type='hidden' name='action' value='!!HIDE_ACTION!!'>
        <input type='hidden' name='showHiddenRuns' value='!!SHOW_HIDDEN!!'>
        <input type='hidden' name='runName' value='!!RUN_NAME!!'>
        <input class='hideRunBtn' type='submit' value='!!BTN_VALUE!!'/>
    </form>
</div>