<tr>
    <td width='43%'> <div class='flexWrap'>
        <a href='!!RUN_LINK!!'><span class='runNumber'>!!RUN_NUMBER!!</span> <span class='theTag'>!!RUN_TAG!!</span></a>
        <div class='rowLinks'>
            <a href='http://atlas-runquery.cern.ch/query.py?q=find+run+!!RUN_NUMBER!!+/+show+all' class='linkExternal'>Run Query</a>
            !!JIRA_LINK!!
            !!TOAST_LINK!!
        </div>
    </div></td>
    <td>
        !!DETAILS!!
        !!DATE!!

        !!BUTTONS!!
    </td>

</tr>

