<div class='runListHeaderFlexContainer'>
    <h3>!!TITLE!!</h3>
    <form action="?dir=!!DIR!!" method="post">
        <input type='hidden' name='action' value='!!ACTION!!'>
        <input class='hideRunBtn showHiddenRunsBtn' type='submit' value='!!BTN_VALUE!!')'/>
    </form>
</div>