
<div class='metadataItem'>
    <div class="metadataItemKey" id="!!KEY_ID!!Key">
        !!KEY!!
    </div>
    : 
    <div class="metadataItemValue" id="!!KEY_ID!!Value">
        !!VALUE!!
    </div>

    <div class="metadataItemValue" id="!!KEY_ID!!ValueFull" style="display: none">
        !!VALUE_FULL!!
    </div>
    <div type='button' onclick='toggleMetadata("!!KEY_ID!!")' !!SHOW_MORE!!>
        ...
    </div>
</div>

<script type="text/javascript">

 </script>