<script>
    // Toggle display of long metadata
    function toggleMetadata(keyId) {
        var mdFull = document.getElementById(keyId + "ValueFull");
        var md = document.getElementById(keyId + "Value");
        if (mdFull.style.display === "inline") {
            mdFull.style.display = "none";
            md.style.display = "inline";
        } else {
            mdFull.style.display = "inline"; 
            md.style.display = "none";
        }
    }
</script>

<h3>Full Run Processing Metadata:</h3>

<p>
    !!METADATA_LIST!!
</p>



