<!-- Template of validated Cost commands created by ProcessingRequest form -->

<h2>Cost Processing Command Summary</h2>

<!-- Name of the output script -->
<input type='hidden' name='costCommandFile' value='!!OUTPUT_SCRIPT_FILENAME!!' />

<input type='hidden' name='costInputFile' value='!!INPUT_FILE!!' />
<input type='hidden' name='costDirName' value='!!OUTPUT_DIR!!' />

<p><textarea name='commandCost' rows='3' cols='150'>!!COMMAND!!</textarea></p>