

<h3>Input Files</h3>

<script>console.log('!!N_FILES!! input files submitted for website processing')</script> 

<p>File list will be merged to files: '<span class='codePara'>!!INPUT_FILE!!</span>'</p>

<p><textarea disabled name='costFilesSubmit' rows='10' cols='150'>!!SUBMITTED_FILES!!</textarea></p>