<!-- Template of validated Rates commands created by ProcessingRequest form -->

<h2>Rates Processing Command Summary</h2>

<input type='hidden' name='ratesCommandFile' value='!!OUTPUT_SCRIPT_FILENAME!!' />
<input type='hidden' name='rateInputFile' value='!!INPUT_FILE!!' />
<input type='hidden' name='rateDirName' value='!!OUTPUT_DIR!!' />
<input type='hidden' name='menuCopyArgs' value='!!COPY_RATES_SCRIPT_ARGS!!' />

<p><textarea name='commandRates' rows='3' cols='150'>!!COMMAND!!</textarea></p>