<p>This interface allows trigger experts to schedule the processing of full <span class='codePara'>NTUP_TRIGCOST</span> or slimmed <span class='codePara'>NTUP_TRIGRATE</span> ntuples on the <span class='codePara'>atlas-trig-cost</span> virtual machine.</p>

<form action='?page=ProcessingRequest' method='post'>

  <h2>Processing Type</h2>
  <div class='subtitle'>Cost processing (CPU time) requires <span class='codePara'>COST</span> ntuples, rate processing use <span class='codePara'>RATE</span> ntuples.</div>
  <div class='subtitle'>Cost processing may be done for any run. Rates can only be done for reprocessed EnhancedBias data.</div>
  <p><input type='checkbox' onchange="toggleProcessingType(this)" name='doRates' id='doRates' value='true' !!RATE_FILES_CHECKED!! />Rates Processing (from NTUP_TRIGRATE files)</p>
  <p><input type='checkbox' onchange="toggleProcessingType(this)" name='doCost' id='doCost' value='true' !!COST_FILES_CHECKED!! />Cost Processing (from NTUP_TRIGCOST files)</p> 

  <h2>Input Files</h2>
  <div class='subtitle'>One file per line.</div>
  <div class='subtitle'>Must be accessible at CERN, allowed paths start with:  <span class='codePara'>/cvmfs/, /eos/</span></div>
  <div class='subtitle'>Suggest grid command to find files at CERN <strong>(COST files are sometimes on CERN-PROD_DATADISK)</strong>: <span class='codePara'>rucio list-file-replicas --rse CERN-PROD_TRIG-HLT <i>DATASET_NAME_HERE</i> | grep -oE /eos/.*\.root\.1</span></div>
  
  <div id="ratesFormInput">
    <h3>Rate Input Files</h3>
    <p><textarea name='rateFiles' rows='10' cols='150'>!!RATE_FILES!!</textarea></p>
  </div>
  
  <div id="costFormInput">
    <h3>Cost Input Files</h3>
    <p><textarea name='costFiles' rows='10' cols='150'>!!COST_FILES!!</textarea></p>
  </div>

  <h2>Processing details</h2>

  <p><label class="formTitle">Release:</label><br><input type='text' class="dropdown-display processingFormInput" name='release' value='!!RELEASE!!' maxlength='15' /></p>
  <div class='subtitle'>Enter the release or nightly used to run the trigger e.g. <span class='codePara'>21.1.1</span> or <span class='codePara'>r2017-04-03</span>.</div>

  <p><label class="formTitle">Run Number:</label><br>
  <input type='text' name='runNumber' class="dropdown-display processingFormInput" value='!!RUN_NUMBER!!' maxlength='15' /></p>

  <p><label class="formTitle">JIRA Tag:</label><br>
  <label class="dropdown-display formPrefix">ATR -</label><input type='text' class="dropdown-display processingFormInput processingFormInputPrefix" name='JIRA' value='!!JIRA!!' maxlength='10' /></p>
  <div class='subtitle'>Enter any trigger JIRA bug/task number for easier reference.</div>

  <p>
    <label class="formTitle">HLT AMI tag:</label><br>
    <input type='text' name='amiTag' class="dropdown-display processingFormInput" value='!!AMI_TAG!!' maxlength='15' />
  </p>
  <div class='subtitle'>Provide HLT AMI tag used for data processing</div>

  <div id="prescaleTagFormInput">
  <p><label class="formTitle">Prescale Tag:</label><br><input type='text' class="dropdown-display processingFormInput" name='prescaleTag' value='!!PRESCALE_TAG!!' maxlength='200'/></p>
  <div class='subtitle'>(Optional) Provide tag to differ reprocessings with diffrent prascales sets.</div>
  </div>

  <p>
    <label class="formTitle">Description:</label><br>
    <input type='text'  class="dropdown-display processingFormInput" name='description' value='!!DESCRIPTION!!' maxlength='400'/>
  </p>
  <div class='subtitle'>(Optional) Please briefly describe the request. What was aim of the reprocessing? Were rereunL1 or applyL1 modifiers used? Was the TriggerMenu tag non-standard? Which menu was used?</div>

  <h2>Check Submission</h2>
  <p>
    <input type='submit' class="formBtn" value='Validate' name='doValidate'/> !!SKIP_VALIDATION!!
  </p>

</form>

<script>
function toggleProcessingType(element) {
  if (element.name == "doCost"){
    document.getElementById("costFormInput").style.display = element.checked ? "block" : "none";
  } else if (element.name == "doRates"){
    document.getElementById("ratesFormInput").style.display = element.checked ? "block" : "none";
    document.getElementById("prescaleTagFormInput").style.display = element.checked ? "block" : "none";
  }
}


document.addEventListener("DOMContentLoaded", function(){

    document.getElementById("costFormInput").style.display = document.getElementById('doCost').checked ? "block" : "none";
    document.getElementById("ratesFormInput").style.display = document.getElementById('doRates').checked ? "block" : "none";
});

</script>