
<form action='?page=ProcessingRequest' method='post'>

    <h2>Input Files Summary</h2>
    <div class='subtitle'>!!N_FILES!! files are to be processed.</span></div>
    <h3>Rate Input Files Summary</h3>
    <p><textarea name='rateFilesSubmit' rows='10' cols='150'>!!RATE_FILES!!</textarea></p>
    <h3>Cost Input Files Summary</h3>
    <p><textarea name='costFilesSubmit' rows='10' cols='150'>!!COST_FILES!!</textarea></p>

    !!VALIDATED_COST!!
    !!VALIDATED_RATES!!

    <input type='hidden' name='release' value='!!RELEASE!!' maxlength='15' />

    <h2>Submit</h2>
    <div class='subtitle'>Commands have been generated from your input, please check them and make any alterations which may be required before submitting the request.</div>
    <input type='submit'  class='formBtn'  value='Queue Processing' name='doSubmit'/>

</form>