

<form action='?page=ProcessingRequest' method='post'> <!--This form is never submitted -->

    !!SUBMIT_COST!!
    !!SUBMIT_RATES!!

    <h2>Submission Finished</h2>
    <p>When not processing other manual requests, the <span class='codePara'>atlas-trig-cost</span> VM should notice this request within 60 seconds.</p>
    <p>To view the VMs processing status please visit the <a href='!!LOG_LINK!!'><strong>logs</strong></a> page.</p>
    <p>Any mistakes or problems? Contact <strong>atlas-trigger-rate-expert@cern.ch</strong>.</p>
</form>