<p>Trig Cost Browser is developed by Tim Martin &lt;<a href='mailto:Tim.Martin@cern.ch'>Tim.Martin@cern.ch</a>&gt;</p>
<p>The framework to extract and process trigger monitoring data for display is developed by the <a href='https://twiki.cern.ch/twiki/bin/view/Atlas/AtlasTriggerRates'>Trigger Rates Group</a>: Elliot Lipeles, Rustem Ospanov, Doug Schaefer, Rami Vanguri, Tae Min Hong (Penn); Tim Martin, Elisabetta Pianori (Warwick); Moritz Backes, Yu Higuchi (CERN); Aleksandra Poreba (CERN/Ruprecht Karls Universitaet Heidelberg)&lt;<a href='mailto:atlas-trigger-rate-expert@cern.ch'>ATLAS-Trigger-Rate-Expert@cern.ch</a>&gt;</p>
<h3>Technologies</h3>
<p>This site has been developed using the following tools:</p>
<ul>
<li><a href='http://dabuttonfactory.com/'>Da Button Factory</a></li>
<li><a href='http://www.csstablegenerator.com/'>CSS Table Generator</a></li>
<li><a href='http://d3js.org/'>D3.js JavaScript library</a></li>
<li><a href='http://flexigrid.info/'>Flexigrid</a></li>
<li><a href='https://gist.github.com/andyferra/2554919'>Github Markdown CSS</a></li>
<li><a href='http://jquery.com/'>jQuery</a></li>
<li><a href='http://www.jstree.com/'>jsTree</a></li>
<li><a href='http://www.php.net/'>PHP</a></li>
<li><a href='http://root.cern.ch/js/'>ROOT js</a></li>
<li><a href='https://github.com/Janking/dropdown'>Dropdown js</a></li>
</ul>