<h3>Local cron log (!!DATA_TYPE!!):</h3>

!!WAKE_UP_NOTIFICATION!!

<p>Click <a href='!!WAKE_UP_PAGE!!&key=breakSleep'><strong>here</strong></a> to check for new data to process</p>

<p class='codeParaSmall'>
    !!LOG_CONTENT!!
</p>