<h3>Read Online Trigger Rates</h3>
<p>
    This interface allows you to run the <span class='codePara'>RatesAnalysisOnlineProcessing</span> script that will extract
    the L1 and HLT prescaled and unprescaled rates for a run.
    <a href="https://twiki.cern.ch/twiki/bin/view/Atlas/TrigCostAnalysis">Script Twiki</a>
</p>

<form action='?page=ReadOnlineRates' method='post'>

    <p>
        <label class="formTitle">Run Number:</label><br>
        <input type='text' name='runNumber' class="dropdown-display processingFormInput" maxlength='6' />
    </p>
    
    <p>
        <label class="formTitle">First Lumiblock:</label><br>
        <input type='text' name='startLb' class="dropdown-display processingFormInput" maxlength='6' />
    </p>
    
    <p>
        <label class="formTitle">Last Lumiblock:</label><br>
        <input type='text' name='endLb' class="dropdown-display processingFormInput" maxlength='6' />
    </p>

    <p>
        <label class="formTitle">Output Location:</label><br>
        <input type='text' name='outputLocation' value = "!!USER_LINK!!" class="dropdown-display processingFormInput"/>
    </p>
    <div class='subtitle'>
        Make sure the location is accessible for TrigCost service account. (AFS is not supported!) <a href="https://twiki.cern.ch/twiki/bin/viewauth/Atlas/TriggerCostTutorial2021">Instructions</a>
    </div>

    <p>
        <input type='submit' class="formBtn" value='Start the script' name='doValidate'/>
    </p>
    <br>
    
</form>